<!DOCTYPE html>
<html>
<head>
  <title>Karla King</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link rel="icon" href="http://i.imgur.com/nCUval6.png">
</head>
<body>

<%= yield %>

</body>
</html>
