<!DOCTYPE html>
<html>
<head>
  <title>Karla King</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link rel="icon" href="http://i.imgur.com/nCUval6.png">

    <meta name="description" content="software engineer mapping gis mapbox ruby on rails san francisco">
    <meta name="author" content="Karla King">

    <style>
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:100%; }
      .img-profile{height: 400px;}
      .name{
        font-size: 20px
      }
      .section-label{
        padding-top: 80px
      }
    </style>
</head>

<body id="page-top" class="index">
</head>
<body>

<%= yield %>

</body>
</html>
